@import 'var';
@import 'mixin.scss';
@import 'samepart';
@import 'headerfive';
@import "footer";
@import 'breadcrubming';
@import "login";
@import "dashboard";
@import './home/carousel';
@import './swiper';
@import './pagination';
@import './cards/categorycard';
@import './home/salecards';
@import './home/suggestions';
@import './home/topselling';
@import './home/biggestsale';
@import './home/favouritereading';
@import './home/favouritereading';
@import './home/trendingnow';
@import './home/brands';
@import './home/bestselling';
@import './home/discount';
@import './home/gallery';
@import './shop/shopping';
@import './shop/modal';
@import './shop/details';
@import 'vendor';
@import './about/story';
@import './about/client';
@import './about/subscribe';
@import './contact/bookstores';
@import './contact/formpart';
@import './blog/blogpart';
@import './faq';
@import './wishlist';
@import './cart';
@import './cards/shoppingcards';
@import './blog';
@import './notFound';
@import './succesfulcheckout';

.preloader{ 
    background-color: $primary_orange;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 100vh;
        display: flex;
    align-items: center;
    justify-content: center;
    }
}
.mySwiper{
    overflow: hidden;
}